body {
  background-color: navy;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1em;
}

h3 {
  color: white;
}

.clASS {
  color: white
}

.social_studies {
  color: saddlebrown
}

.sex_ed {
  color: pink
}

#McLovin {
  border: blue solid 2px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
}

#main {
  border: white solid 2px;
  width: 800px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.two_columns {
  display: flex;
}

.gauche {
  border: white solid 2px;
  width: 50%;
  padding-left: 10px;
}

.droit {
  border: white solid 2px;
  width: 50%;
  padding-left: 10px;
}

#saucy {
  width: 100%;
    
}

#feets {
  text-align: center;
  margin-bottom: 50px;
}

#home a {
  position: fixed;
  top: 10px;
  right: 50px;
  text-decoration: none;
  border: red solid 5px;
  padding: 10px 15px;
  color: red;
}

#home a:hover {
  background-color: yellowgreen;
  color: black;
}

#boxtest {
  background-color: blanchedalmond;
  font-size: 9em
}

#one-column{
  text-align: center;
}

.flexedUp {
  width: 100%;
  gap: 5%;
  margin: 1%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
  justify-content: center;
  
}
/* .box1 {
  background-color: grey;

  width: 80%;
  height: 620px;
  margin: 1%;
} */

.box2 {
  background-color: darkblue;

  width: 80%;
  height: 620px;
  margin: 1%;
}

.box3 {
  background-color: darkblue;
  margin: 1%;
  width: 80%;
  height: 620px;
}

.sketch{
  margin: 100px;
}

#iframe2 {
  border: none
}

#iframe3 {
  border:none;
}